html {
  font-family: Karla, sans-serif;
}

h1, h2, h3, h4, legend {
  font-family: "Playfair Display", serif;
}

.black-background {
  background-color: #1f2020;
}

.logo {
  max-width: 250px;
  margin: 0 auto;
}

.nav {
  text-decoration: none;
  color: #bbcbd9;
}

.nav:hover {
  color: #fff;
}

.nav-align {
  text-align: center;
}

.pink-background {
  background-color: #ad6570;
}

.navy-background {
  background-color: #535c76;
}

.blue-background {
  background-color: #bbcbd9;
}

.white-text {
  color: #fff;
}

.blue-text {
  color: #bbcbd9;
}

.pink-text {
  color: #ad6570;
}

.navy-text {
  color: #535c76;
}

.btn {
  border-radius: 100px;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid #000;
}

.nav a:focus {
  outline: 3px solid #000;
}

.white-pink-btn {
  background-color: #fff;
  border: none;
  color: #ad6570;
}

.white-pink-btn:hover {
  background-color: #1f2020;
  transition: background-color .2s linear;
  color: #fff;
}

.blue-navy-btn {
  background-color: #bbcbd9;
  border: none;
  color: #535c76;
}

.blue-navy-btn:hover {
  background-color: #1f2020;
  transition: background-color .2s linear;
  color: #bbcbd9;
}

.pink-white-btn {
  background-color: #ad6570;
  border: none;
  color: #fff;
}

.pink-white-btn:hover {
  background-color: #1f2020;
  transition: background-color .2s linear;
  color: #fff;
}

.white-navy-btn {
  background-color: #fff;
  border: none;
  color: #535c76;
}

.white-navy-btn:hover {
  background-color: #1f2020;
  transition: background-color .2s linear;
  color: #fff;
}

.about-petfinder-img {
  background-image: url("../images/about-petfinder.jpg");
  background-size: cover;
  background-position: center right;
}

.find-a-pet-img {
  background-image: url("../images/find-a-pet.jpg");
  background-size: cover;
  background-position: center left;
}

.help-us-out-img {
  background-image: url("../images/help-us-out.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.luna-img {
  background-image: url("../images/luna.jpg");
  background-size: cover;
  background-position: center left;
}

.bert-and-ernie-img {
  background-image: url("../images/bert-and-ernie.jpg");
  background-size: cover;
  background-position: center left;
}

.mittens-img {
  background-image: url("../images/mittens.jpg");
  background-size: cover;
  background-position: center left;
}

.larry-img {
  background-image: url("../images/larry.jpg");
  background-size: cover;
  background-position: center left;
}

fieldset {
  border: none;
}

input, textarea, select {
  color: #535c76;
  border-radius: 10px;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
    margin: 0;
  }

  .nav-align {
    text-align: right;
  }

}
